* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
   
}


.menu a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px; /*aqui no se agranda, en el hover SI!*/
}

.menu {
  display: flex;
  width: 50%; /*importante espacio entre palabras*/
  justify-content: space-around;
}

.menu li {
  list-style: none;
  cursor: pointer;
}

.menu a:hover {
  background-color: yellow;
  color: black;
  transition: ease-in 0.2s;
  border-radius: 10px; /*Aqui se redondean sus bordes verdes...*/
}

.logo a{
  text-decoration: none;
  
}
.logo span {
  color: yellow;
  text-decoration: none;
  }

.logo a h2:hover { /*Tener un span aqui me descuarejinga todo!/*/
  
  background-color: yellow;
  color: black;
  transition: ease-in 0.2s;
  border-radius: 10px;
  text-decoration: none;
  
  
}

.logo a h2 span:hover{
  background-color: yellow;
  color: black;
  transition: ease-in 0.2s;
  border-radius: 10px;
  text-decoration: none;
  
 
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

/*AQUI COMIENZAN LOS CONTENEDORES GRID!!!*/


.grande span{
    color:yellow
  }

  /*AQUI EMPIEZA EL PRIMER CONTENEDOR*/

.granprimera{ /* EL GRID hay que ponerlo en el contenedor más grande (donde irán nuestras cajas)*/
  margin: 0 auto;
  width: 100vw;
  height: 70vh;
  display: grid;
    grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 50px;

}

.peqprimera p{
  text-align: justify;
  text-justify: inter-word;
}

.grande {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
}

.granprimera img {
  /*creo que conviene siempre usar max-w y max-h a 300px?*/
  max-width: 550px;
  max-height: 550px;
  border: solid 10px;
  border-color: whitesmoke;
  border-radius: 10px;
  
}

.granprimera img:hover{
  border:solid yellow 15px;
  transition: ease-in 0.2s;
    
}

.granprimera {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  
  padding: 50px 50px 50px 50px;

}
/*AQUI EMPIEZA LA SEGUNDA*/
.gransegunda {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  padding: 50px 50px 50px 50px;
  gap: 50px;

}

.gransegunda img {
  /*creo que conviene siempre usar max-w y max-h a 300px?*/
  max-width: 300px;
  max-height: 300px;
  border: solid 10px;
  border-color: whitesmoke;
  border-radius: 10px;
  
}

.peqsegunda p{
  text-align: justify;
  text-justify: inter-word;
}

.gransegunda img:hover{
    
  border:solid yellow 15px;
  transition: ease-in 0.2s;
    
    
  }

/*AQUI EMPIEZA LA TERCERA PARTE creo que tengo que copiarlo y pegarlo todo y cambiar los nombres de las clases segun el html hecho*/

.grande span{  /*esto podria ir enl el body*/
  color:yellow
}

.grantercera{ /* EL GRID hay que ponerlo en el contenedor más grande (donde irán nuestras cajas)*/
margin: 0 auto;
width: 100vw;
height: 100vh;
display: grid;
  grid-template-columns: repeat(2,1fr);
align-items: center;
gap: 50px;

}

.peqtercera p{
text-align: justify;
text-justify: inter-word;
}


.grantercera img {
/*creo que conviene siempre usar max-w y max-h a 300px?*/
max-width: 550px;
max-height: 550px;
border: solid 10px;
border-color: whitesmoke;
border-radius: 10px;

}

.grantercera img:hover{

  border:solid yellow 15px;
  transition: ease-in 0.2s;
    
  
}

.grantercera {
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0 auto;
align-items: center;
padding: 50px 50px 50px 50px;

}

.grantercera img {
/*creo que conviene siempre usar max-w y max-h a 300px?*/
max-width: 300px;
max-height: 300px;
border: solid 10px;
border-color: whitesmoke;
}
