*{
  font-family: 'Tourney', cursive; 
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
     
}


h1{
   color: whitesmoke;
    text-align: center;
    font-size: 70px;
    background-color: black;
}

nav ul {
    border: 1px solid #000000;
    color: whitesmoke;
    list-style-type: none;
    padding:10px;
    text-align: center;
    width: 100%;
   }

nav li {
    text-align: center;
    display: inline;
   
  }

  nav a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
   
    
}

nav a:hover{
    background-color:whitesmoke ;
    color: black;
}
a:visited{
    color: whitesmoke;
}
footer{
    color: aliceblue;
}

 