*{
  font-family: 'Tourney', cursive; 
  padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    width: fit-content;
    background-image: img src="noche.jpg";
    
     
}


.hello{
   color: whitesmoke;
    text-align: center;
    font-size: 70px;
    background-color: black;
    float: none;
    }




nav ul {
    border: 1px solid #000000;
    
    list-style-type: none;
   
    text-align: center;
   
    background-color: black;
    padding:50px;
    margin:0px;
   }

nav li {
    text-align: center;
    display: inline;
   
  }

  nav a{
    text-decoration: none;
    padding: 15px;
    color: whitesmoke;
      
}

nav a:hover{
    background-color:whitesmoke ;
    color: black;
}
a:visited{
    color: whitesmoke;
}

aside {
    width: 215px;
    background-color: #141616;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    border: 1px solid #383838;
    color: #FFFFFF !important;
}





footer {
    height: 50px;
    bottom: 0;
    background-color: #141616;
    color: #FFFFFF !important;
    width: 100%;
    text-align: center;
    margin:0px;
}